@font-face {
  font-family: "old";
  src: url("../police/Olde\ Stencil.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background: black;
  background-image: url("../images/img10.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
}

header nav {
  display: flex;
  position: absolute;
  justify-content: center;
  right: 0;
  top: 100px;
  width: 40%;
  padding: 10px;
}

header nav a {
  text-decoration: none;
  color: white;
  font-size: 16pt;
  padding: 10px;
  margin: 0 auto;
  font-weight: 500;
}

header nav a:hover {
  color: forestgreen;
}

header .container_header {
  align-self: center;
  width: 30%;
  position: relative;
  overflow: hidden;
  left: 100px;
  height: 80%;
}

header .container_header .content_header {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  z-index: 2;
}
header .container_header .content_header #the_cuisto {
  padding: 10px;
  width: 100%;
  height: 30%;
}
header .container_header .content_header #the_cuisto .the_cuisto {
  overflow: hidden;
}

@keyframes test {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}
header .container_header .content_header #the_cuisto .the_cuisto p {
  text-align: center;
  font-family: "old";
  animation: test 1.25s linear forwards;
  font-size: 45pt;
}

header .container_header .content_header #logo {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}

header .container_header .content_header #logo img {
  width: 100%;
}

header .container_header .content_header #btnconnect {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}

header .container_header .content_header #btnconnect .btncnt {
  border: none;
  padding: 20px;
  border-radius: 10px;
  background: forestgreen;
  color: white;
  font-size: 20pt;
  font-weight: 600;
}

header .container_header .form {
  background: cyan;
  padding: 20px;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
}

header .container_header .form form {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}
.container {
  background: red;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.container main {
  width: 40%;
  height: 500px;
  padding: 10px;
  background: lime;
}

.container main form {
  width: 100%;
  height: 100%;
  background: cyan;
  display: flex;
  flex-direction: column;
}

.container main form .form_email {
  background: purple;
  border: 2px solid white;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.container main form .form_email input {
  border: none;
  background: none;
  border-bottom: 1px solid white;
}

.container main form .form_email input:active {
  box-shadow: none;
  border: none;
  background: red;
}

section {
  background: black;
  width: 100%;
  height: 100vh;
}

footer {
  position: relative;
  bottom: 0;
  background: black;
  color: gold;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 16pt;
}
