@font-face {
  font-family: "old";
  src: url("../police/Olde\ Stencil.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  width: 100%;
  height: 100vh;
  display: flex;
}

.hdr {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background-image: url("../images/img10.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hdr nav {
  display: flex;
  position: absolute;
  justify-content: center;
  right: 0;
  top: 100px;
  width: 40%;
  padding: 10px;
}

.hdr nav a {
  text-decoration: none;
  color: white;
  font-size: 16pt;
  padding: 10px;
  margin: 0 auto;
  font-weight: 500;
}

.hdr nav a:hover {
  color: forestgreen;
}

.hdr .container_header {
  align-self: center;
  width: 30%;
  position: absolute;
  overflow: hidden;
  left: 100px;
  height: 80%;
}

.hdr .container_header .content_header {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  position: absolute;
  z-index: 2;
}
.hdr .container_header .content_header #the_cuisto {
  padding: 10px;
  width: 100%;
  height: 30%;
}
.hdr .container_header .content_header #the_cuisto .the_cuisto {
  overflow: hidden;
}

@keyframes test {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}
.hdr .container_header .content_header #the_cuisto .the_cuisto p {
  text-align: center;
  font-family: "old";
  animation: test 1.25s linear forwards;
  font-size: 45pt;
}

.hdr .container_header .content_header #logo {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}

.hdr .container_header .content_header #logo img {
  width: 100%;
}

.hdr .container_header .content_header #btnconnect {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.hdr .container_header .content_header #btnconnect .btncnt {
  border: none;
  padding: 20px;
  border-radius: 10px;
  background: forestgreen;
  color: white;
  font-size: 20pt;
  font-weight: 600;
}

.hdr .container_header .form {
  padding: 60px;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: none;
}

.hdr .container_header .form form {
  width: 100%;
  height: 100%;
}

.input-group {
  position: relative;
  width: 100%;
  display: flex;
  margin: 15px 0;
  padding: 10px 0;
}

.input-group input {
  width: 100%;
  background: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  padding: 0px 10px;
  font-weight: 600;
  border: none;
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.507);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.5s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: 0;
  font-size: 12px;
}

.hdr .modal {
  background: white;
  position: absolute;
  width: 50%;
  height: 70%;
  z-index: 51;
  display: none;
  border-radius: 20px;
  overflow: hidden;
  animation: brdr 7.5s linear infinite;
  animation-delay: 2.5s;
  animation: scs .2s linear forwards;
  
}

@keyframes scs {
  from{
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
  
}

@keyframes brdr {
  0%{
    box-shadow: 0px 0px 30px 5px transparent;
  }
  50% {
    box-shadow: 0px 0px 30px 5px  white;
  }
  100% {
    box-shadow: 0px 0px 30px 5px transparent;
  }
}
.hdr .modal .img {
  width: 100%;
  background-image: url(../images/img3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 30px ;
  border-top-right-radius: 30px;
}

.hdr .modal .form_cont {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 20px;
}

.hdr .modal .form_cont .cont_form {
  background: purple;
  width: 100%;
  height: 100%;
  
}

.hdr .modal .form_cont .formContact {
  background: cyan;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hdr .modal .form_cont .formContact form {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  padding-top: 20px;
  position: absolute;
}

.hdr .modal .form_cont .formContact form .ipt-grp {
  position: relative;
  width: 100%;
  display: flex;
  margin: 15px 0;
  padding: 10px 0;
}

.hdr .modal .form_cont .formContact form .ipt-grp input {
  outline: none;
  height: 40px;
  font-size: 16px;
  padding: 0px 10px;
  font-weight: 600;
  background: none;
  border: none;
  border-bottom: .1px solid rgba(128, 128, 128, 0.507);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hdr .modal .form_cont .formContact form .ipt-grp label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: .5s;
}

.hdr .modal .form_cont .formContact form .ipt-grp input:focus~label,
.hdr .modal .form_cont .formContact form .ipt-grp inout:valid~label{
  top: 0;
  font-size: 12px;
}
.hdr .overlay {
  width: 100%;
  height: 100vh;
  background: black;
  opacity: .7;
  backdrop-filter: blur(3px);
  z-index: 50;
  display: none;
}

.hdr .hidden {
  display: none;
}


/*
###############################################################################
###############################################################################
*/


footer {
  position: relative;
  bottom: 0;
  background: black;
  color: gold;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 16pt;
}
